.container {
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
    border-radius: 10px;

}

.container:hover, .active {
    background-color: rgb(103, 103, 240);
}
