@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: #FFFFFF;
    --bgSoft: rgb(193, 213, 228);
    --text: gray;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-family);
}

/* Test (might remove), it removes default calendar logo */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #e2e8f0;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #001526;
    border-radius: 10px;
  }