@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #FFFFFF;
    --bgSoft: rgb(193, 213, 228);
    --text: gray;
    --TextSoft: rgb(20, 20, 20);
    font-weight: bold;

}


body{
    background-color: var(--bg);
    color: var(--text);
}